body{
    display:flex;
    justify-content: center;
    justify-items: center;
}

input{
    margin-top: 80px;
    padding: 60px;
    height: 240px;
    font-size: 40px;
}
.container{
    padding:40px;
    margin:40px;
    border-radius: 190px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
button{
    padding:30px;
    background-color:lightblue;
    font-size: 20px;
}
